body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #222;
    color: white;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 40px;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.services {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    flex: 1;
    min-width: 250px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 15px;
}

input,
textarea {
    padding: 12px;
}

button {
    padding: 12px;
    background: #222;
    color: white;
    border: none;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
        margin-top: 10px;
    }
}